.Login > form {
    width: 450px;
}

.Login>h2 {
    text-align: center;
}

.Login input ,
.Login button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.Login span {
    color: red;
}
