.EditProduct {
        width: 450px;
    }
    
.EditProduct>h2 {
    text-align: center;
}
    
.EditProduct input ,
.EditProduct button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
    
.EditProduct span {
    color: red;
}
    
.EditProduct img {
    width: 1000px;
    height: 200px;
}
    
    

