.AddProduct > form {
    width: 450px;
}

.AddProduct>h2 {
    text-align: center;
}

.AddProduct input ,
.AddProduct button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.AddProduct span {
    color: red;
}


